<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Book SPA</title>
   <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
 
   
  </head>
  <body>
  <div id="root"></div>
  </body>
    
  <script type="text/babel">

class Bookapp extends React.Component{
      constructor(props){
        super(props); 
        this.state = {
            books: {{{result}}},
            curBook: {}
        };
       }
      showDetails(e){
            let showitem = this.state.books.find((item)=>{
          return item.title == e.target.title;});
          this.setState({curBook: showitem});
      }
    
      render(){
      return(
          <div>
          <h4>Book List:</h4>
          <div className="container">
            <Booklist
                books={this.state.books}
                show={this.showDetails.bind(this)}
            />
            <BookDetails item={this.state.curBook} change={this.onChange}
            />
            </div>
          </div>
              );
      }
}
const Booklist = ({books,show}) =>{
      // return items that match search entry field, or all items if no entry
      const itemrecord = books.map((item) => {
        
          return <li title={item.title}  onClick={show}>{item.title}</li> 
        });
      
      return <span id="list"><ul>{itemrecord}</ul></span>;
    };

const BookDetails = (props)=>{
    return(
        <span id="details">
        <h4>Book Details:</h4>
        <table onChange = {props.change}>
        <tr>
            <th >Title: </th>
            <td><input type="text" name="title" value={props.item.title} /></td>
        </tr>
        <tr>
            <th>Author: </th>
            <td><input type="text" name="author" value={props.item.author} /></td>
        </tr>
        <tr>
             <th>Price: </th>
             <td><input type="text" name="price" value={props.item.price} /></td>
        </tr>
        <tr>
             <th>Inventory: </th>
            <td><input type="text" name="inventory" value={props.item.inventory} /></td>
      </tr>
        </table>
        </span>
    );
}

ReactDOM.render(<Bookapp />, document.getElementById("root"));
</script>
</html>